@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
    background-color: #121216;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

button {
    background-color: #6a6aff; /* Green */
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 24px; /* Rounded corners */
}

button:hover {
    background-color: #4c4cff;
}

#next-section-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
