@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
    background-color: #121216;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0em;
    box-sizing: border-box;
    text-align: center;
}

.hidden {
    contain: content;
    opacity: 0;
    filter: blur(0.5em);
    transform: translateX(-10em);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #6a6aff;
    border: none;
    color: white;
    padding: 1em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.2em 0.4em;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 1.5em;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #4c4cff;
    transform: scale(1.1);
}

#next-section-button {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

#next-section-button-copy {
    bottom: 1.5em;
    right: 1.5em;
}

#previous-section-button {
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
}

@media screen and (max-width: 600px) {
    button {
        font-size: 14px;
        padding: 12px 14px;
    }

    #next-section-button,
    #next-section-button-copy {
        bottom: 10px;
        right: 10px;
    }
    #previous-section-button {
        bottom: 10px;
        left: 10px;
    }
}

.video-container {
    position: relative;
    width: 50vw;
    padding-bottom: 28.125vw; /* 16:9 Aspect Ratio (50% of width) */
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 100vw, 300px);
    height: auto;
    padding-bottom: 0vw;
    margin: 0 auto;
}

.git-image-container {
    position: relative;
    width: 15vw;
    height: auto;
    margin: 0 auto;
}

.image-container img {
    width: 95%;
    height: 95%;
    padding: 0vw;
    padding-top: 2vw;
}

.user-card {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2vw;
    height: auto;
    border: 0.2vw solid #fff; /* Adjust as needed */
    border-radius: 5px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1vw; /* Adjust as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 1.5vh; /* Adjust as needed */
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0.5vw;
    font-size: 2.5vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    color: #ddd;
    transform: scale(1.1);
}
